<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form *ngIf="studentForm" [formGroup]="studentForm" (ngSubmit)="registernow()" class="form-container">    

          <div class="form-group">
            <div class="form-group__item">
              <label for="rollNo"><span class="req"></span> Roll Number: </label>
              <input type="number" class="form-control" formControlName="rollNo" id="rollNo" placeholder="Enter your roll number..." />
              <div *ngIf="studentForm.get('rollNo')?.invalid && (studentForm.get('rollNo')?.dirty || studentForm.get('rollNo')?.touched)" class="error-message">
                <div *ngIf="studentForm.get('rollNo')?.errors?.['required']">Roll number is required.</div>
                <div *ngIf="studentForm.get('rollNo')?.errors?.['minlength']">Roll number must be at least 7 digits.</div>
              </div>
            </div>

            <div class="form-group__item">
              <label for="name"><span class="req"></span> Name: </label>
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter your name" />
              <div *ngIf="studentForm.get('name')?.invalid && (studentForm.get('name')?.dirty || studentForm.get('name')?.touched)" class="error-message">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group__item">
              <label for="email"><span class="req"></span> Email: </label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email" />
              <div *ngIf="studentForm.get('email')?.invalid && (studentForm.get('email')?.dirty || studentForm.get('email')?.touched)" class="error-message">
                <div *ngIf="studentForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="studentForm.get('email')?.errors?.['email']">Invalid email format.</div>
              </div>
            </div>
  
            <div class="form-group__item">
              <label for="phone"><span class="req"></span> Phone Number: </label>
              <input type="tel" class="form-control" formControlName="phone" id="phone" placeholder="Enter your phone number" />
              <div *ngIf="studentForm.get('phone')?.invalid && (studentForm.get('phone')?.dirty || studentForm.get('phone')?.touched)" class="error-message">
                <div *ngIf="studentForm.get('phone')?.errors?.['required']">Phone number is required.</div>
                <div *ngIf="studentForm.get('phone')?.errors?.['minlength']">Phone number must be 10 digits.</div>
              </div>
            </div>

          </div>

          

          <div class="">
            <label><span class="req"></span> Gender: </label>
              <label>
                <input type="radio" formControlName="gender" value="Male">
                Male
              </label>
              <label>
                <input type="radio" formControlName="gender" value="Female">
                Female
              </label>
              <label>
                <input type="radio" formControlName="gender" value="Other">
                Other
              </label>
            </div>
            <div *ngIf="studentForm.get('gender')?.invalid && (studentForm.get('gender')?.dirty || studentForm.get('gender')?.touched)" class="error-message">
              Gender is required.
            </div><br>
          

          <div class="form-group">
            <button class="btn btn-success" type="submit" name="submit_reg" value="Register" >Register</button>
          </div>
        
      </form>
    </div>
  </div>
</div>