.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 80px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 70%;
}


button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  width: 30%;
  text-align: right;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}
.form-control {
  border: none;
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.5;
}