<div class="search-container">
  <label for="search-input">Search:</label>
  <input type="text" [(ngModel)]="searchTerm" id="search-input" name="search-input" placeholder="Enter search term">
</div>
<br>
<table class="">
  <thead>
    <tr>
      <th (click)="sort('rollNo')">Roll Number</th>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('email')">Email</th>
      <th (click)="sort('phone')">Phone Number</th>
      <th (click)="sort('gender')">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | filterBy: ['name', 'email', 'phone']: searchTerm | orderBy: sortColumn:sortDirection">
      <td>{{ student.rollNo }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.gender }}</td>
    </tr>
  </tbody>
</table>
<br>
<div class="mat-paginator">
  <button [disabled]="pageNumber == 1" (click)="prevPage()">Previous</button>
  <button (click)="nextPage()">Next</button>
  <select [(ngModel)]="pageSize" (change)="onSelectionChange($event)">
    <option value=5 selected>5</option>
    <option value=10>10</option>
  </select>
</div>